server:
  port: 8081
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/Java2IstLocalDB
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


myapplication:
  benimuydurdugumbiralan:
    info: "Bu alanı ben yazdım"
    title: "Başlık Alanı"