<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Satış İşlemi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<body>
<div class="container-fluid" style="height: 150px; background-color: #B1B2FF;">

</div>
<div class="container">
  <div class="row">
    <form action="save" method="post">
      <div class="col-12">
        <div class="mb-3">
          <label class="form-label">Müşteri Adı</label>
          <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="musteriid">
            <option value="-1" selected>Müşteri Seçiniz</option>
            <option th:each="musteri : ${musterilistesi}" th:value="${musteri.id}" th:text="${musteri.ad + ' '+ musteri.soyad}"/>
          </select>

        </div>
        <div class="mb-3">
          <label class="form-label">Ürün Adı</label>
          <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="urunid">
            <option value="-1" selected>Ürün Seçiniz</option>
            <option th:each="urun : ${urunlistesi}" th:value="${urun.id}" th:text="${urun.ad+ ' marka: '+ urun.marka+ ' model: '+urun.model}"/>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Adet</label>
          <input type="text" class="form-control" name="adet">
        </div>
        <div class="mb-3">
          <label class="form-label">Fiyat</label>
          <input type="text" class="form-control" name="fiyat">
        </div>
        <div class="mb-3">
          <label class="form-label">Toplam Fiyat</label>
          <input  type="text" class="form-control" name="toplamfiyat">
        </div>

      </div>
      <div class="col-12 mb-2">
        <div class="d-grid gap-2 mt-3">
          <button type="submit" class="btn btn-success btn-block">Yeni Kayıt</button>
          <button type="submit" class="btn btn-danger">Kaydet</button>

        </div>
      </div>
    </form>

  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <thead>
      <tr class="table-primary">
        <th>Id</th>
        <th>Müşteri Adı</th>
        <th>Ürün Adı</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Toplam Fiyat</th>
        <th>Tarih</th>
        <th>İşlemler</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="satis,inter :${selamarkadasimnasisinnerelerdesin}">
        <td><label th:text="${satis.id}"/></td>
        <td><label th:text="${satis.musteriadi}"/></td>
        <td><label th:text="${satis.urunadi}"/></td>
        <td><label th:text="${satis.adet}"/></td>
        <td><label th:text="${satis.fiyat+'₺'}"/></td>
        <td><label th:text="${satis.toplamfiyat+'₺'}"/></td>
        <td><label th:text="${satis.createddate}"/></td>
        <td>
          <a href="#"
             th:attr="onclick=|duzenle(${satis.id},${satis.musteriid},${satis.urunid},${satis.adet},${satis.fiyat},${satis.toplamfiyat})|"
             class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-duzenle">
            <i class="fa fa-pen-square"></i>
          </a>
          <a href="#" class="btn btn-danger" th:attr="onclick=|kayitsilFetch(${satis.id})|">
            <i class="fa fa-eraser"></i>
          </a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-duzenle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="update" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Satış Düzenle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-12">
            <input type="text" name="id" id="txteditid" hidden>
            <div class="mb-3">
              <label class="form-label">Müşteri Adı</label>
              <select id="txteditmusteri" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="musteriid">
                <option value="-1" selected>Müşteri Seçiniz</option>
                <option th:each="musteri : ${musterilistesi}" th:value="${musteri.id}" th:text="${musteri.ad + ' '+ musteri.soyad}"/>
              </select>

            </div>
            <div class="mb-3">
              <label class="form-label">Ürün Adı</label>
              <select id="txtediturun" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="urunid">
                <option value="-1" selected>Ürün Seçiniz</option>
                <option th:each="urun : ${urunlistesi}" th:value="${urun.id}" th:text="${urun.ad+ ' marka: '+ urun.marka+ ' model: '+urun.model}"/>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Adet</label>
              <input id="txteditadet"  type="text" class="form-control" name="adet">
            </div>
            <div class="mb-3">
              <label class="form-label">Fiyat</label>
              <input  id="txteditfiyat" type="text" class="form-control" name="fiyat">
            </div>
            <div class="mb-3">
              <label class="form-label">Toplam Fiyat</label>
              <input id="txtedittoplamfiyat" type="text" class="form-control" name="toplamfiyat">
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
          <button type="submit" class="btn btn-primary">Güncelle</button>
        </div>
      </form>

    </div>
  </div>
</div>
<form action="delete" method="post" hidden>
    <input type="text" name="id" id="txtdeleteid" >
    <button id="btndelete" type="submit" class="btn btn-danger">Kaydet</button>
</form>
<script>
    function kayitsil(id){
      Swal.fire({
        title: 'Emin misiniz?',
        text: "Seçtiğiniz kayıt silinecektir.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Evet, sil!',
      }).then((result) => {
        if (result.isConfirmed) {
          // silme işlemini onaayldığınız yerdir.
          document.getElementById("txtdeleteid").value=id;
          Swal.fire(
                  'Silindi!',
                  'Dur ne yaptın :(',
                  'success'
          ).then(()=>{
            document.getElementById('btndelete').click();
          })
        }
      })
    }

    function kayitsilFetch(id){
      Swal.fire({
        title: 'Emin misiniz?',
        text: "Seçtiğiniz kayıt silinecektir.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Evet, sil!',
      }).then((result) => {
        if (result.isConfirmed) {
          // silme işlemini onaayldığınız yerdir.
                fetch('delete?id='+id,{
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },

                }).then(()=>{
                  Swal.fire(
                          'Silindi!',
                          'Dur ne yaptın :(',
                          'success'
                  ).then(()=>{
                    location.reload();
                  })

                })
            }

      })
    }

    function duzenle(id,musteriid,urunid,adet,fiyat,toplamfiyat){
       document.getElementById("txteditid").value=id;
       document.getElementById("txteditmusteri").value=musteriid;
       document.getElementById("txtediturun").value=urunid;
       document.getElementById('txteditadet').value=adet;
       document.getElementById('txteditfiyat').value=fiyat;
       document.getElementById('txtedittoplamfiyat').value=toplamfiyat;
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>